# ---- Android / Gradle ----
*.apk
*.aab
*.aar
*.ap_
*.dex
*.class

# Build outputs
/build
/app/build
**/build/

# Gradle
.gradle/
/captures

# Kotlin
.kotlin/

# Native build
.externalNativeBuild
.cxx

# ---- Local config (هر سیستم مخصوص خودش) ----
/local.properties
local.properties

# ---- IDE (Android Studio / IntelliJ) ----
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml

# ---- OS ----
.DS_Store
Thumbs.db
